In [23]:
pythonclass = "AWS"
firstname = "oghenerukevwe"
lastname = "uwadia"
third_prime_number = 5
todays_date = "26/sept/2023"

In [24]:
print(type(pythonclass))
print(type(firstname))
print(type(lastname))
print(type(third_prime_number))
print(type(todays_date))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [32]:
Data_value1 = 45
#Data_value2 = 290578L
Data_value3 = 1.02
Data_value4 = True
Data_value5 = "My dog is on the bed"
Data_value6 = "45"

In [34]:
print(type(Data_value1))
#print(type(Data_value2))
print(type(Data_value3))
print(type(Data_value4))
print(type(Data_value5))
print(type(Data_value6))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>

In [35]:
bool(0)

False

In [36]:
bool(1)

True

In [37]:
int(2.5)

2

In [40]:
chr(65)

'A'

In [43]:
a = 2
type(2)

int

In [44]:
a = "2.5"
type(a)

str

In [45]:
a = 10
type(a)

int

In [48]:
#conversion of float to integer
num1 = 10
num2 = 20

num3 = num1 + num2

In [49]:
print("your answer is", num3)

your answer is 30

In [51]:
num3 = float(num3)

In [52]:
type(num3)

float

In [53]:
num3 = int(num3)

In [54]:
type(num3)

int

In [3]:
"favour"

'favour'

In [56]:
type("favour")

str

In [4]:
"favour".upper()

'FAVOUR'

In [5]:
# adding a list to a list
var1 = [1,2,3,4,5]
var2 = [6,7,8,9,10]

# append method
var1.append(var2)
print(var1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [9]:
# to get the last number indexing
var1[-1][-1]

10

In [8]:
#to get the second number indexing
var1[-1][2]

8